$orange: hsl(31, 77%, 52%);
$lightcyan: hsl(184, 100%, 22%);
$darkcyan: hsl(179, 100%, 13%);
$neutral-transparent: hsla(0, 0%, 100%, 0.75);
$neutral-light: hsl(0, 0%, 95%);
$font-title: "Big Shoulders Display", cursive;
$font-text: "Lexend Deca", sans-serif;
$break-point: 800px;

html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  font-size: 15px;
}

h1 {
  font-family: $font-title;
  text-transform: uppercase;
  color: $neutral-light;
  letter-spacing: 0.1rem;
}
p,
button {
  font-family: $font-text;
  color: $neutral-transparent;
}

.container {
  max-width: 920px;
  height: 510px;
  margin-top: 160px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}
@media (max-width: $break-point) {
  .container {
    max-width: 310px;
    height: 1320px;
    margin-top: 90px;
    flex-direction: column;
    justify-content: center;
  }
}
.element {
  flex: 0 1 auto;
  min-width: 250px;
  padding: 0 50px 0 50px;
  display: grid;  
  grid-template-columns: auto;
  grid-template-rows: 50px 80px 70px 200px auto;
  align-items: start;
  justify-items: start;
  &--orange {
    background-color: $orange;
    border-radius: 8px 0 0 8px;
  }
  &--lightcyan {
    background-color: $lightcyan;
  }
  &--darkcyan {
    background-color: $darkcyan;
    border-radius: 0 8px 8px 0;
  }
  &__icon {
    grid-row: 2/3;
    & img {
    height: 40px;
    width: auto;  
  }  
  }
  &__title {
    grid-row: 3/4;
    margin-top: 0;
  }
  &__text {
    grid-row: 4/5;
    margin-top: 0;
    line-height: 1.5rem;
  }
  &__button {  
    grid-row: 5/6;  
  }
}
@media (max-width: $break-point) {
  .element {
    flex: 0 0 auto;
    padding: 40px;
    &--orange {
      border-radius: 8px 8px 0 0;
    }
    &--darkcyan {
      border-radius: 0 0 8px 8px;
    }
    &__text {
      padding-top: 0px;
    }
    &__button {
      margin-top: 20px;
    }
  }
}
.element__button {
  width: 145px;
  height: 45px;
  background-color: white;
  border: white;
  border-radius: 25px;
  &:hover {
    border: solid 2px $neutral-transparent;
    cursor: pointer;
  }
  &--orange {
    color: $orange;
    &:hover {
      color: $neutral-transparent;
      background-color: $orange;
    }
  }
  &--lightcyan {
    color: $lightcyan;
    &:hover {
      color: $neutral-transparent;
      background-color: $lightcyan;
    }
  }
  &--darkcyan {
    color: $darkcyan;
    &:hover {
      color: $neutral-transparent;
      background-color: $darkcyan;
    }
  }
}
